@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* NAVIGATION BAR */
li, a, button{
    font-family: "roboto", sans-serif;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
    font-weight: 500;
    font-size: 21px;
    color: #edf0f1;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    color: white;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
a:hover {
    color: #ffb84e;
}

/* MAIN CONTENT */

/* Large Homepage Graphic */

.main_graphic{
    position: relative;
    width: 100%;
}
.main_graphic img{
    width: 100%;
    height: auto;
}
.main_graphic .graphic_content{
    position: absolute;
    width: 100%;
    top: 30%;
}
.main_heading {
    position: relative;
    font-family: "roboto", sans-serif;
    background-color: rgba(36, 37, 42, 0.6);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #edf0f1;
    text-decoration: none;
}
.main_graphic .btn {
    position: absolute;
    top: 150%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
    background-color: #ffb84e;
    color:  rgba(36, 37, 42, 1);
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.main_graphic .btn:hover {
    background-color: rgba(36, 37, 42, 1);
    color: #edf0f1;
}
.spacer {
    height: 50px;
}

/* Sectioned page styling*/
.half_page{
    position: relative;
    width: 90%;
    left: 5%;
}
#fish_dish{
    width: 100%;
    height: auto;
}
#fom_btn {
    float: right;
    color: #ffb84e;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#fom_btn:hover{
    text-decoration: underline;
}
.w3-half{
    text-align: center;
}
.quarter{
    width: 100%;
    text-align: left;
}

/* Footer Content */
.footer {
    color: #edf0f1;
    height: auto;
    background-color: #24252A;
    text-align: center;
    padding: 10px;
    font-size: 13px;
}
.footer li {
    font-size: 13px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}