/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300&display=swap');*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-weight: 300;
}
p {
    font-size: 20px;
}
/* NAVIGATION BAR */
.Link {
    display: block;
  }
li, a, button{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
    font-weight: 500;
    font-size: 21px;
    color: #edf0f1;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    color: white;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    font-weight: 500;
}
.nav_links li:hover {
    color: #ffb84e;
}
.small_menu{
    display: none;
}

/* MAIN CONTENT */

/* Large Homepage Graphic */

.main_graphic{
    position: relative;
    width: 100%;
}
.main_graphic img{
    width: 100%;
    height: auto;
}
.main_graphic .graphic_content{
    position: absolute;
    width: 100%;
    top: 30%;
}
.main_heading {
    position: relative;
    font-family: "roboto", sans-serif;
    background-color: rgba(36, 37, 42, 0.6);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #edf0f1;
    text-decoration: none;
}
.main_graphic .btn {
    position: absolute;
    top: 150%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #ffb84e;
    color:  rgba(36, 37, 42, 1);
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.main_graphic .btn:hover {
    background-color: rgba(36, 37, 42, 1);
    color: #edf0f1;
}
.page_heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Sectioned page styling*/
.half_page{
    position: relative;
    width: 90%;
    left: 5%;
}
.fom_btn {
    float: right;
    color: #ffb84e;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.fom_btn:hover{
    text-decoration: underline;
}
.w3-half{
    text-align: center;
}
.quarter{
    width: 100%;
    text-align: left;
}
/* FOOD MENU */
#menu_list {
    text-align: center;
    background-color: rgba(255, 184, 78, 0.5);
}
#menu_list li{
    font-size: 23px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}
#menu_list li:hover{
    background-color:white;
}
.food_container {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
.beverage_container {
    width: 60%;
    margin-left: 30%;
    height: auto;
    text-align: left;
    padding-top: 20px;
}
.cost{
    color: #ffb84e;
}
.menu-left{
    background-color: #f4f4f4;
}
td, th{
    text-align: left;
    font-size: 20px;
}
.beverages-left{
    width: 60%; 
    margin-left: 30%; 
    padding-bottom: 20px;
}
.beverages-right{
    width: 60%; 
    margin-left: 10%; 
    padding-bottom: 20px;
}
.beverages-heading-left{
    width: 60%;
    text-align: left; 
    margin-left: 30%;
}
.beverages-heading-right{
    width: 60%;
    text-align: left; 
    margin-left: 10%; 
}
/* Footer Content */
.footer {
    color: #edf0f1;
    height: auto;
    background-color: #24252A;
    text-align: center;
    padding: 10px;
    font-size: 13px;
}
.footer li {
    font-size: 13px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}
.footer li:hover{
    color: #ffb84e;
}
.footer p{
    font-size: 16px;
}
/* -------------SCREEN SIZE CHANGE-------------- */

@media screen and (max-width:900px){
header{
    padding-left: 2%;
    display: none;
}
.small_menu{
    display: block;
    width: 100%;
    height: auto;
    font-size: 4vw;
    color: #edf0f1;
    background-color: #24252A;
    text-align: center;
}
.small_menu:hover{
    color:#ffb84e
}
.icon{
    display: block;
}
p{
    font-size: 3vw;
}
.main_heading{
    font-size: 4vw;
}
#main_img{
    content: url("../images/Restaurant_Main_Image_900.jpg");
}
.w3-half{
    width: 100%;
}
#book_btn{
    width: 25vw;
    font-size: 2vw;
}
.large_image{
    display: none;
}
.half_page{
    width: 100%;
    left: 0%;
    text-align: center;
}
.beverages-heading-left, .beverages-heading-right{
    text-align: center;
    width: 100%;
    margin-left: 0%;
}
.beverages-left, .beverages-right{
    width: 96%;
    text-align: left; 
    margin-left: 2%; 
}
.spacer_large{
    display: none;
}
#menu_list li{
    font-size: 3vw;
}
.quarter {
    text-align: center;
}
.quarter p{
    font-size: 3vw;
}
}
