/* Universal box sizing */
* {
    box-sizing: border-box;
}
/* Set the size of the body */
body {
  width: auto;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
    width: 100%;
}
/* Style the topnav links */
.topnav a {
    float: Right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 21px;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 300px;
    padding: 15px;
    background-color: yellow;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}